{% extends 'base.html.twig' %}
{% block body %}
    <div id="contact" class="col-md-12" style="margin-top: 5vh">
        <div class="container">
            <div class="col-md-12" style="background: white; padding: 50px 50px 50px 50px;">
                <h1>People</h1>
            </div>
            {% for usuario in users %}
                {% if loop.index0 is divisible by(2) %}
                    <div class="col-md-5" style="background: white; padding: 20px 20px 20px 20px; margin-top: 30px;">
                {% else %}
                    <div class="col-md-5 col-md-offset-2" style="background: white; padding: 20px 20px 20px 20px; margin-top: 30px;">
                {% endif %}
                    <img class="col-md-4 profile-img" src="{{ asset('images/profiles/user_images/')~usuario.pathFoto }}" alt="">
                        <div class="col-md-8">
                            <h5>{{ usuario.username }}</h5>
                            <i>{{ usuario.email }}</i>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}