{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>
    </div>
    <div>
        <input class="main-btn" type="submit" value="{{ 'resetting.request.submit'|trans }}" style="margin-top: 20px; width: 100%"/>
    </div>
</form>
